
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow bg-light">
          <div class="" style="text-align:center">
            <div class="btn-group w-100">
                {% if method == 'log' %}
                    <button class="w-100 btn btn-light active" type="button" name="button" style="box-sizing: border-box">Войти</button>
                    <form method="get" action="/signin/" class="w-100">
                        {% csrf_token %}
                        <button class="w-100 btn btn-secondary" type="submit" name="button" style="box-sizing: border-box">Зарегистрироваться</button>
                    </form>
                {% else %}
                    <form method="get" action="/signup/" class="w-100">
                    {% csrf_token %}
                        <button class="w-100 btn btn-secondary active" type="submit" name="button" style="box-sizing: border-box">Войти</button>
                    </form>
                    <button class="w-100 btn btn-light" type="submit" name="button" style="box-sizing: border-box">Зарегистрироваться</button>
                {% endif %}
            </div>
          </div>

            {% if method == 'log' %}
                <div class="modal-header p-5 pb-4 border-bottom-0 ">
                    <h1 class="fw-bold mb-0 fs-2">Войти</h1>
                </div>
            {% else %}
                <div class="modal-header p-5 pb-4 border-bottom-0 ">
                    <h1 class="fw-bold mb-0 fs-2">Зарегистрироваться</h1>
                </div>
            {% endif %}

            {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                      {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
          <div class="modal-body p-5 pt-0 ">
            {%  if form.error %}
                <p> {{ form.errors.error }}</p>
            {% endif %}
            <form class="" method="post">

                {% csrf_token %}
                {{ form.as_p }}
{#              <div class="form-floating mb-3">#}
{#                <input type="text" class="form-control rounded-3" id="dabdab" placeholder="Password">#}
{#                <label for="floatingPassword">Электронная почта</label>#}
{#              </div>#}
{#              <div class="form-floating mb-3">#}
{#                <input type="password" class="form-control rounded-3" id="meow" placeholder="name@example.com">#}
{#                <label for="floatingInput">Пароль</label>#}
{#              </div>#}

              <input class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit" value="Войти"></input>
              <a href="#" class="link-secondary">Забыли пароль?</a>


            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}